footer{
  &.page-footer {
    bottom: 0;
    color: #fff;
    a {
      color: #fff;
      text-decoration: none;
    }
  }
  .footer-copyright {
    overflow: hidden;
    background-color: rgba(0,0,0,.2);
    color: rgba(255,255,255,.6);
  }
}