.navbar {
  .nav-item.avatar{
    .dropdown-toggle {
      img {
        height: 35px;
      }
    }
  }
  .navbar-nav {
    a.nav-link{
      color: #fff;
    }
    .active {
      a {
        background-color: #fff;
        color: #2196f3;
        border-radius: 2px; 
      }
    }
    .dropdown-toggle {
      cursor: pointer;
      &.is-open ~ .dropdown-menu{
        display: block;
      }
    }
  }
  .navbar-toggler{
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    &.is-open ~ .collapse {
      display: block;
    }
  }
} 