<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg blue">
  <a *ngIf="headerData.logo.image" class="navbar-brand" href="{{headerData.logo.link}}">
    <img src="{{headerData.logo.image}}" height="30" alt="mdb logo">
  </a>
  <button class="navbar-toggler" type="button" dropdown data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul *ngIf="headerData.menu" class="navbar-nav mr-auto">
      <li *ngFor="let menu of headerData.menu; index as i;" [ngClass]="{'active': isActive(menu)}" class="nav-item">
        <a class="nav-link" href="{{menu.link}}">{{menu.text}}
        </a>
      </li>
    </ul>
    <ul *ngIf="headerData.profile" class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" dropdown data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <img src="{{headerData.profile.avatar}}" class="rounded-circle z-depth-0"
            alt="avatar image">
        </a>
        <div *ngIf="headerData.profile.actions" class="dropdown-menu dropdown-menu-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-55">
          <a *ngFor="let action of headerData.profile.actions; index as i;" class="dropdown-item" href="{{action.link}}">{{action.text}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->