<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid home-page">
  <app-sidebar class="blue" [menuData]="menuData"></app-sidebar>
  <div class="inner">
    <app-header [headerData]="headerData"></app-header>
    <div class="inner-app-content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>

