<div class="login-view">
  <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="submit()">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" [(ngModel)]="data.email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && fields.email.errors }" id="inputEmail" class="form-control" placeholder="Email address">
      <div *ngIf="submitted && fields.email.errors" class="invalid-feedback">
        <div *ngIf="fields.email.errors.required">Email is required</div>
        <div *ngIf="fields.email.errors.email">Email must be a valid email address</div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" [(ngModel)]="data.password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && fields.password.errors }" id="inputPassword" class="form-control" placeholder="Password">
      <div *ngIf="submitted && fields.password.errors" class="invalid-feedback">
        <div *ngIf="fields.password.errors.required">Password is required</div>
        <div *ngIf="fields.password.errors.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">© 2017-2018</p>
  </form>
</div>