.sidebar {
  min-width: 250px;
  max-width: 250px;
  color: #fff;
  transition: all 0.3s;
  .sidebar-header {
    padding: 20px;
    strong {
      display: none;
      font-size: 1.5rem;
    }
  }
  ul {
    &.components {
      padding: 20px 0;
    }
    li {
      a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #2196f3;
          background: #fff;
        }
        i {
          margin-right: 10px;
        }
      }
      &.active > a {
        color: #2196f3;
        background: #fff;
      }
    }
  }
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  .sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    .sidebar-header {
      h3{
        display: none;
      }
      strong {
        display: block;
      }
    }
  }
}