<nav class="sidebar">
  <div class="sidebar-header">
    <h3>Bootstrap Sidebar</h3>
    <strong>BS</strong>
  </div>

  <ul class="list-unstyled components">
    <li *ngFor="let menu of menuData; index as i;" routerLinkActive="active">
      <a routerLink="{{menu.link}}"><i *ngIf="menu.icon" class="{{menu.icon}}" exact="true"></i>{{menu.text}}</a>
    </li>
  </ul>
</nav>